body{
    background-image: url(images/background.png);
    background-repeat: repeat;
    font-family: "Playfair Display", "consolas","sans-serif";
    color: black;
    padding-left: 12%;
    padding-right: 12%;
}
.navbar{
    height: 12%;
    display: flex;
    color: black;
    align-items: center;
    background-color: #F9F0F1;
    font-family: "Playfair Display", "consolas","sans-serif";
}
.stay{
    color: black;
    color: inherit;
}
.info{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.logo{
    width: 250px;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    font-family: "Playfair Display", "consolas","sans-serif";
}
.invis{
    display: none;
    font-family: "Playfair Display", "consolas","sans-serif";
}
.name{
    cursor: pointer;
    font-family: "Playfair Display", "consolas","sans-serif";
    font-size: large;
}
button {
    background: transparent;
    border: none !important;
    cursor: pointer;
    font-size: 1;
}
.title_text{
    background-color: lightblue;
}
.subtitle_text_1{
    width: auto;
    background-color: lightcoral;
}
.subtitle_text{
    width: auto;
    background-color: yellowgreen;
}
.end_text{
    width: auto;
    background-color: lightgreen;
}
.info{
    width: 1000;
    background-color:#F9F0F1;
}
ol li{
    list-style-type: none;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.under_construction{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}